<%= simple_form_for @profile do |f| %>
  <%= f.input :avatar %>
  <%= f.input :first_name %>
  <%= f.input :last_name%>
  <%= f.input :email%>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
  <%= f.button :submit%>
<% end %>
