<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="son">
      <%= image_tag "young_man.jpg", :alt => "profile", :title => "youngman"%>
    </div>
    <div>
      <table class="table">
        <tbody>
          <tr>
            <th>Name</th>
          </tr>
          <tr>
            <td>myname</td>
          </tr>
          <tr>
            <th>Last Name</th>
          </tr>
          <tr>
            <td>mylastname</td>
          </tr>
          <tr>
            <th>E-mail</th>
          </tr>
          <tr>
            <td>myemail</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-8">
    <div class="col-md-4">  
    <%= image_tag "perro_profile.png", :alt => "petprofile", :title => "petprofile"%>
    </div>  
    <div class="col-md-8">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Breed:</th>
            <td>""</td>
          </tr>
          <tr>
            <th>Age:</th>
            <td>""</td>
          </tr>
          <tr>  
            <th>Pedigree:</th>
            <td>""</td>
          </tr>
          <tr>
            <th>Date of birth:</th>
            <td>""</td>
          </tr>
          <tr>
            <th>Details:</th>
            <td>""</td>
          </tr>
          
        </tbody>
      </table>
      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_profile_path,
            :class => 'btn btn-primary' %>
    </div>
  </div>
</div>