<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="mycontainer">
  <div class="row">
    <div class="col-md-4">
      <div class="son">
        <%= image_tag @profile.avatar.url(:medium) %>
      </div>
      <%= label :first_name, model_class.human_attribute_name(:first_name) %>
      <%= text_field :first_name, :first_name, :class => "form-control", :value => @profile.first_name %>
      <%= label :last_name, model_class.human_attribute_name(:last_name) %>
      <%= text_field :last_name, :last_name, :class => "form-control", :value => @profile.last_name%>
      <%= label :email, model_class.human_attribute_name(:email) %>
      <%= text_field :email, :email, :class => "form-control", :value => @profile.email %>

      <%  if can? :edit, @profile %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
      edit_profile_path(@profile), :class => 'btn btn-default' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="son2">
        <% if @profile.user.id == current_user.id%>
        <%= link_to t('.new', :default => t("helpers.links.new")),    new_pet_path, :class => 'btn btn-default' %>
        <% end %>
      </div>
      <% @profile.user.pets.each do |pet| %>
      <div class="row">
        <div class="col-md-4">
          <% if pet.photos.present? %>
            <%= image_tag pet.photos.first.picture.url(:thumb) %>
          <% else %>
            <strong> No picture! </strong>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="text-right">
          <table class="table table-striped">
            <colgroup>
              <col class="col-md-3">
              <col class="col-md-9">
            </colgroup>
            <tbody>
              <tr>
                <th>Name:</th>
                <td><%= pet.name %></td>
              </tr>
              <tr>
                <th>Breed:</th>
                <td><%= pet.breed %></td>
              </tr>
              <tr>  
                <th>Pedigree:</th>
                <td><%= pet.pedigree_value %></td>
              </tr>
              <tr>
                <th>More info:</th>
                <td><%= link_to "Show info", pet_path(pet.id), :class => 'btn btn-default' %></td>
              </tr>
              
            </tbody>
          </table>
          </div>
        </div>
        
        </div>
      <% end %> 
      </div>
    </div>
  </div>
</div>
