<%= simple_form_for @pet do |f| %>
  <%= f.input :name %>
  <%= f.input :breed, :as => :select, :collection => Pet.breeds%>
  <%= f.input :pedigree%>
  <%= f.input :born_at%>
  <%= f.input :about%>
  <%= f.input :gender, :as => :select, :collection => Pet.genders%>
  <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }%>
  <%= f.button :submit%>
<% end %>
