<%- model_class = Pet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<h2> Search </h2>

<%= form_tag pets_path, :method => 'get' do %>
<%= label :name, "Name" %>
<%= text_field_tag :name %>
<%= label :breed, "Breed" %>
<%= select_tag :breed, options_for_select(Pet.breeds), :include_blank => true %>
<%= label :pedigree, "Pedigree" %>
<%= check_box_tag :pedigree %>
<%= label :gender, "Gender" %>
<%= select_tag :gender, options_for_select(Pet.genders), :include_blank => true %>
<%= submit_tag "Search", :name => nil %>
<% end %>

<thead>
  <div class="parent">
    <div class="son2">
      <iframe width="640" height="360" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.1283486274506!2d-76.96472486492686!3d-12.10336482643578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c70ab77498c1%3A0xcce9f50642e7c684!2sUniversidad+Peruana+de+Ciencias+Aplicadas!5e0!3m2!1ses-419!2spe!4v1446737353864" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</thead>
<table class="table">
  <tbody>
      <tr>
        <th>Near pets</th>
      </tr>
  </tbody>
</table>
<div class"centered">
  <% @pets.each do |pet| %>
  <div class="col-md-4">  
    <% if pet.photos.present? %>
      <%= image_tag pet.photos.first.picture.url(:thumb) %>
    <% else %>
      <strong> No picture! </strong>
    <% end %>
  </div>  
  <div class="col-md-8">
    <div class="text-right">
    <table class="table table-striped">
      <colgroup>
        <col class="col-md-3">
        <col class="col-md-9">
      </colgroup>
      <tbody>
        <tr>
          <th>Name:</th>
          <td><%= pet.name %></td>
        </tr>
        <tr>
          <th>Breed:</th>
          <td><%= pet.breed %></td>
        </tr>
        <tr>  
          <th>Pedigree:</th>
          <td><%= pet.pedigree_value %></td>
        </tr>
        <tr>
          <th>Gender:</th>
          <td><%= pet.gender %></td>
        </tr>
        <tr>
          <th>More details:</th>
          <td><%= link_to "Show info", pet_path(pet.id), :class => 'btn btn-default' %></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <% end %>
</div>