<%- model_class = Pet -%>
<div class="mycontainer">
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="son">
        <% if @pet.photos.present? %>
        <%= link_to image_tag(@pet.photos.first.picture.url(:medium)), (photos_url(pet_id: @pet.id)) %>
        <br>
        <% else %>
        <strong> No images yet! Would you like to add some? </strong>
        <br>
        <% end %>
      </div>
        <%= link_to "Add new picture!", new_photo_path(:pet_id => @pet.id)%>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th><%= label :name, model_class.human_attribute_name(:name) %></th>
          </tr>
          <tr>
            <td>
              <%= @pet.name %>
            <td>
          </tr>
          <tr>
            <th><%= label :breed, model_class.human_attribute_name(:breed) %></th>
          </tr>
          <tr>
            <td>
              <%= @pet.breed %>
            <td>
          </tr>
          <tr>
            <th><%= label :born_at, "Date of Birth" %></th>
          </tr>
          <tr>
            <td>
              <%= @pet.born_at %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th><%= label :gender, model_class.human_attribute_name(:gender) %></th>
          </tr>
          <tr>
            <td>
              <%= @pet.gender %>
            </td>
          </tr>
          <tr>
            <th><%= label :pedigree, model_class.human_attribute_name(:pedigree) %></th>
          </tr>
          <tr>
            <td>
              <%=  @pet.pedigree_value %>
            </td>
          </tr>
        </tbody>
      </table>
  
      <%= label :about, "Details" %>
        <dd><%=  @pet.about %></dd>
      
      <% if can? :update, @pet %> 
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
        edit_pet_path(@pet), :class => 'btn btn-default' %>
      <% end %>

      <%= link_to "Contact owner", profile_path(@pet.user.profile.id), :class => 'btn btn-default' %>
    </div>
  </div>
</div>


