<body class="aboutbackground">    
    <div class="container">
        <div class="header-section">
            <h2 class="section-heading ">About us</h2>
            <span class="section-sub-heading">Your pet also needs some fun</span>
        </div>
        <div class="about-text">
            <p id="aboutp">
                We are a group of people who know how important a pet can be to us.
                
                We think that pets are family, so that we need to find the best partner to our lovely friend.
    
                We want to promote the love for our pets and make PetApp community the first and best community where you can easily find the perfect partner for your little friend.

                <%= current_user.authentication_token %>
                <%= current_user.email %>
    
            </p>
        </div>
        <!--
        <div class="section-image  wow fadeInUp">
            <span class="img-mid"><img id="weblogo" src="mid-star.png" alt="about us"></span>
        </div>
        -->
    </div>
</body>