<%= simple_form_for @photo do |f| %>
  <%= f.input :comment %>
  <%= f.input :is_avatar%>
  <%= f.input :pet_id, :as => :hidden %>
  <%= f.input :picture, as: :file %>
  <%= f.button :submit%>
<% end %>