<%- model_class = Photo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% @photos.each do |photo| %>
  <div class="col-md-4 text-center">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @photos.present? %>
          <%= link_to image_tag(photo.picture.url(:medium)), (photo_url(photo.id))%>
        <% else %>
          <strong> No picture! </strong>
        <% end %>
        <div>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Comment:</td>
              </tr>
              <tr>
                <td><%= photo.comment %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>