<%- model_class = Photo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
  <dd><%= @photo.comment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:is_avatar) %>:</strong></dt>
  <dd><%= @photo.is_avatar %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pet_id) %>:</strong></dt>
  <dd><%= @photo.pet_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:picture) %>:</strong></dt>
  <dd><%= image_tag @photo.picture(:medium) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              photos_url(pet_id: @photo.pet_id),
              :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_photo_path(@photo), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              photo_path(@photo),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>