/*social icons*/
@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

#weblogo {
    width: 83px;
    height: 79px;
    background: url(logo_petapp_small.png);
    background-size: cover;
}
#weblogofooter {
    width: 42px;
    height: 40px;
    background: url(logo_footer.png);
    background-size: cover;
}
#home {
    width: 46px;
    height: 44px;
    background: url(big-star.png) 0 0;
}
.centered{
    margin-left: auto;
	margin-right: auto;
}
.div-la {
 top:10;
 right:10;
}
.div-l {
    position: relative;
}
.petbackground { 
    background: url("home_background.png"); 
    background-size: cover;
}

.petbackgroundtwo{    
    background: url("home_background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.footer {
    background-color: #e7e7e7;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    position: fixed;

}
.footer-social-icon {
    padding: 0;
    margin-bottom: 40px;
}

.footer-social-icon td {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.footer-social-icon td a {
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 50%;
    background: rgba(0,0,0,0.2);
    color: #fff;
    display: inline-block;
    font-size: 24px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.footer-social-icon td a:hover {
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

/*Logo*/
.logo,
.retina-logo {
    line-height: 86px;
}

.retina-logo img {
    width: 42%;
}

/*.retina-logo img,*/
.f-retina-logo img {
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
    -moz-transform: scale(0.5); /* FF3.5+ */
    -ms-transform: scale(0.5); /* IE9 */
    -o-transform: scale(0.5); /* Opera 10.5+ */
    transform: scale(0.5);
    /* IE6–IE9 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
}

a.logo,
a.f-logo {
    display: block;
    outline: none;
}

a.retina-logo,
a.f-retina-logo {
    display: none;
    outline: none;
}

.mobile-header .logo,
.mobile-header .retina-logo,
.mobile-header .f-retina-logo
{
    line-height: 50px;
}

.mobile-header {
    visibility: hidden;
    display: none;
}
/*----------about--------------*/
#abouth{
    color: #000;
    font-weight: bold;
    font-family: lucida;
}
#aboutp{
    color: #000;
    font-weight: bold;
}
.about-text{
    width: 80%;
    text-align: center;
    margin: 0 auto 60px;
}
.header-section {
    margin-bottom: 80px;
    text-align: center;
}
.section-heading .dot{
    color: #d1d3d4;
}


.section-sub-heading {
    font-size: 14px ;
    line-height: 30px;
    font-weight: 300;
    color: #817C7C;
    margin: 0;
    letter-spacing: .08em;
    display: block;
}

.section-image{
    width: 730px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.section-image img{
    width: 100%;
}
.aboutbackground { 
    background: url("aboutPetapp.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-mid {
    margin: auto;
    display: block;
    z-index: 100;
    position: relative;
}
/*----------my style----------*/

.parent {
    text-align: center;
}
.divleft{
    text-align: left;
}
.son {
    padding: 5px;
    margin: 5px;
}
.son2 {
    padding: 15px;
    margin: 15px;
}

.mycentered {
    margin-left: 30%;
    margin-right: 30%;
}

.padd {
    padding-bottom: 50px;
}
.mycontainer {
    
    padding-bottom: 80px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*---------embed container---------*/
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 80%;
}