/*theme color*/

.top-most-bar ul.contact-list li a:hover,
.top-nav.navigation li a:hover,
.top-nav.navigation >ul> li.current > a,
.section-heading .color-txt,
.numeric-value,
.blog-content h3 a:hover,
.blog-meta ul li a:hover,
.large-heading ,
.testimonial-user span,
.rotate-boxed-intro .desk .read-more,
.portfolio-description a:hover,
.portfolio-title a:hover,
.blog-content h4 a:hover,
.team-member-position,
.copyright a:hover,
.small-banner .breadcrumb li.active,
.p-control a:hover,
.portfolio-share a:hover i,
.blog h1 a:hover,.blog h1 a:focus,
.auth-row a:hover,
.auth-row a:hover,
.blog a.more:hover,
.auth-row a,
.blog-post h5 a:hover,
.blog-post h5 a:focus,
.blog-post ul li a:hover,
.blog-post ul li a:focus,
a#cancel-comment-reply-link,
.cd-slider-nav .cd-marker ,
.cd-slider-nav a:hover,
.cd-popular .cd-pricing-header,
.cd-popular .cd-currency,
.cd-popular .cd-duration {
    color:#F1C40F ;
}


.top-most-bar ul.contact-list li.language ul li a:hover,
.srch-box .dropdown-menu.search button,
.section-icon:hover,
.promotional-btn a,
.iconic-item-icon,
.btn-send:hover ,
.btn-bg-color:hover,
.btn-link-visit ,
.promotional-banner ,
.footer-social-icon li a:hover,
.portfolio-controls button:hover ,
.portfolio-controls button.active ,
.portfolio-container .mix ,
.pager-list .pager:hover ,
.pager-list .active,
.portfolio-pager li a:hover,
.rotate-boxed-intro:hover .icon-box .icon, .rotate-boxed-intro.active .icon-box .icon,
.pager-list .pager.active,
.member-social-icon li a:hover,
.top-nav.navigation li a:after,
.top-nav.navigation li a:hover:after,
.top-nav.navigation li.current a:after,
.theme-bg,
.blog-srch .btn-search:hover,
.blog-tags a:hover,
.blog-cmnt .reply:hover,
.custom-pagination > .active > a,
.custom-pagination > .active > span,
.custom-pagination > .active > a:hover,
.custom-pagination > .active > span:hover,
.custom-pagination > .active > a:focus,
.custom-pagination > .active > span:focus,
.cd-hero-slider .cd-btn,
.no-touch .cd-hero-slider .cd-btn:hover,
.cd-hero-slider .cd-btn.secondary:hover,
.cd-popular .cd-btn,
#royal_preloader.royal_preloader_progress .royal_preloader_meter{
    background: #F1C40F;
}



.srch-box .dropdown-menu.search button,
.form-control:focus,
.btn-send:hover,
.member-social-icon li a:hover,
.btn-bg-color:hover,
.blog-srch input:focus,
.custom-pagination > .active > a,
.custom-pagination > .active > span,
.custom-pagination > .active > a:hover,
.custom-pagination > .active > span:hover,
.custom-pagination > .active > a:focus,
.custom-pagination > .active > span:focus {
    border-color: #F1C40F;
}
