<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Petapp" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <link href="assets/stylesheets/themecolor.css" type="text/css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <!-- Como se llaman a las hojas de estilos creadas??? -->

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" > <%= image_tag "logo_footer.png", :alt => "pet_app", :title => "petapp"%></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", index_path  %></li>

            <% if user_signed_in? %>
              <% if current_user.profile.present? %>
              <li><%= link_to "My Profile", profile_path(current_user.profile.id)  %></li>
              
              <% else %>
                <li><%= link_to "Create Profile", new_profile_path  %></li>
              <% end %>
            <% end %>
            <li><%= link_to "Find Pet", pets_path  %></li>
            <li><%= link_to "About", about_path  %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="nav navbar-text">Logged in as <%= current_user.email %></li>
              <li> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="nav navbar-text"> Log in to get started</li>
              <li> <%= link_to 'Sign in', new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container">
    <%= yield %>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>
        </div>
      </div>
      
      <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <tr class="footer-social-icon">
                        <td>
                            <a href="" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </td>
                        <td>
                            <a href="" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </td>
                        <td>
                            <a href="" target="_blank">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </td>
                    </tr>
                    <div class="footer-logo wow fadeInUp">

                        <a href="#"> <%= image_tag "logo_footer.png", :alt => "logo_footer", :title => "footer"%></a>

                    </div>
                    <div>
                        <p>&copy; 2015 All rights reserved. <a>Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
      </footer>
    
    </div> <!-- /container -->

  </body>
</html>